.jumbotron{
    background: #CDD6DD;
    color: #1b1b1b;
    margin-top: 56px;
}

footer{
    padding: 20px;
    margin-top: 90px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #ECEFF1;
}

.footer-icon{
    margin-right: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.tab-content{
    margin-top: 30px;
}

.collapse-wrapper{
    margin: 20px 0;
}