.jumbotron {
  background: #ECEFF1;
  color: #1b1b1b;
  margin-top: 56px;
  margin-bottom: 2rem; }

footer {
  padding: 20px;
  margin-top: 90px;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background: #ECEFF1; }

.footer-icon {
  margin-right: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.tab-content {
  margin-top: 30px;
  margin-bottom: 0; }

.collapse-wrapper {
  margin-top: 20px;
  margin-bottom: 0; }
