@yellow: #fccb42;
@gray: #ECEFF1;
@red: #f21f3f;
@green: #24f00a;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background: @gray;
    color: #1b1b1b;
    .margenes(56px, 2rem)
}

footer{
    padding: 20px;
    .margenes(90px, 0);
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: @gray;
}

.footer-icon{
    margin-right: 10px;
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0);
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.tab-content{
    .margenes(30px, 0);
}

.collapse-wrapper{
    .margenes(20px, 0);
}