$yellow: #fccb42;
$gray: #ECEFF1;
$red: #f21f3f;
$green: #24f00a;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background: $gray;
    color: #1b1b1b;
    @include margenes(56px, 2rem);
}

footer{
    padding: 20px;
    @include margenes(90px, 0);
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: $gray;
}

.footer-icon{
    margin-right: 10px;
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0);
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}

.tab-content{
    @include margenes(30px, 0);
}

.collapse-wrapper{
    @include margenes(20px, 0);
}